<% @micro_comments = @comment.nil? ? comment.microcomments : @comment.microcomments %>
<% @micro_comments.each_with_index do |mcomment, i|%>
	<table id="test1" calss="table table-bordered table-striped">
		<td width="20"><%= mcomment.comment.user.avatar.present? ? image_tag(mcomment.comment.user.avatar) : image_tag("http://www.sancoso.com/app/views/default/static/img/no-avatar.png") %></td>
		<td>
				<%= mcomment.content %>
		</td>
	</table>
<% end %>