<% provide(:title, "Create new Post") %>
<section id="posts-new">
  <h1 class="page-title"><%= t ".create_new_post" %></h1>
  <div class="actions">
    <%= link_to t(".back"), posts_path, class: :btn %>
  </div>
  <%= render "form" %>
</section>