<div class="accordion" id="side_menu" >
  <div class="accordion-group">
    <div class="accordion-heading">
      <h3>sude_menu</h3>
      <h3>sude_menu</h3>
      <h3>sude_menu</h3>
    </div>
  </div>
</div>
