.delete {
	float: right;
}
.td-paging {
	text-align: center;
}
.post-delete {
	float: right;
}
.post-detail {
	
}

.post-show {
	padding: 15px 15px;
}
.post-title {
	color: red;
	font-size: 2em;
	text-align: center;
	padding: 15px 15px;
	margin-bottom: 30px;
}