.categories { height:383px; }
.search { height:300px; }
.product-info .product-desc
{ background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/images/info.png', sizingMethod='scale');}
